  .event-info {
    border-left: #c9c9c9 1px solid;
    padding: 1em;
    text-align: left;
  }


  .select {
    margin-left: 10px;
    padding: 2px;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
  }

  .select-text {
    margin-left: 5px;
  }

  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0e0e0f;
    color: white;
    cursor: pointer;
  }

  .event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffffff;
    color: black;
    border-radius: 1%;
  }

  .ticket-types ul {
    list-style-type: none;
    text-align: right;
  }
