
  .select {
    margin-left: 10px;
    background-color: #ffffff;
    color: black;
    border-radius: 1px;
  }

  .select-text {
    margin-left: 5px;
  }

  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0e0e0f;
    color: white;
    cursor: pointer;
  }

  .eventsList {
    display: flex;
    flex-direction: column;
    
  }
  